* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.textarea {
  width: 100%;
  max-width: 100%;
}

.keyboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 200px;
  background-color: #faebd7;
}

.line-wrapper {
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  height: calc(100% - 20px);
  background-color: #197758;
}

.button {
  min-width: 6.15%;
  width: 50px;
  margin: 2px;
  flex-basis: 1;
}

.button.pressed {
  background-color: brown;
}

.button:active {
  transform: translate(1px, 1px);
}

button[data-key-code="CapsLock"]::before,
button[data-key-code="ShiftLeft"]::before,
button[data-key-code="ShiftRight"]::before,
button[data-key-code="ControlLeft"]::before,
button[data-key-code="ControlRight"]::before,
button[data-key-code="AltLeft"]::before,
button[data-key-code="AltRight"]::before {
  content: "\2022";
  color: #0e0d0d;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
}

button[data-key-code="CapsLock"].active::before,
button[data-key-code="ShiftLeft"].active::before,
button[data-key-code="ShiftRight"].active::before,
button[data-key-code="ControlLeft"].active::before,
button[data-key-code="ControlRight"].active::before,
button[data-key-code="AltLeft"].active::before,
button[data-key-code="AltRight"].active::before {
  color: #ff0000;
}